# Node
**/node_modules/
**/npm-debug.log

# Python
**/venv*/
**/__pycache__/
*.py[cod]

# SQLite DB
/backend/checkins.db

# Environment
*.env

# Uploads, loggar etc
/backend/uploads/
/python-checkin/known_faces_fixed/
